language: ruby
rvm:
 - 1.8.7
 - 1.9.3
 - 2.0.0
 - ruby-head
 - jruby
 - rbx
 - ree

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq -y poppler-utils poppler-data

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: rbx
